* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* @import url(//db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember); */

@font-face {
  font-family: "Amazon Ember bold";
  src: url("/assets/fonts/AmazonEmberDisplay_Bd.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Amazon Ember light";
  src: url("/assets/fonts/AmazonEmberDisplay_Lt.ttf");
  font-weight: 400;
}

.page-1 {
  height: 100vh;
  font-family: "Amazon Ember bold", Arial, Helvetica, sans-serif;
}

.header {
  height: 40vh;
}

li {
  font-family: "Amazon Ember light", Arial, sans-serif;
  text-decoration: none;
  list-style: none;
  color: white;
}
li a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: "Amazon Ember light", Arial, sans-serif;
}
h3 {
  font-family: "Amazon Ember bold", Arial, sans-serif;
}
h4 {
  font-family: "Amazon Ember light", Arial, sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 55%;
  color: white;
  font-size: 11px;
}

.navbar-1-container {
  background-color: #131921;
  display: flex;
  height: 3.35rem;
  border: 1px solid blueviolet;
  justify-content: space-between;
  align-content: center;
}

.navbar-1-container-left {
  width: 25%;
  display: flex;
  border: 1px solid forestgreen;
  justify-content: space-between;
}

.amazon-logo-container {
  width: 86px;
  padding: 5% 2%;
  margin: 5px 7px;
  border: 1px solid transparent;
}

.amazon-logo {
  background: url("/assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
    no-repeat -10px -90px;
  width: 76px;
  height: 23px;
}

.amazon-logo-container:hover,
.deliver-to-container:hover,
.item-1:hover {
  border: 1px solid white;
}

.deliver-to-container {
  width: 50%;
  margin: 5px 5px;
  color: white;
  font-size: 11px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2%;
}
.deliver-to-container .content {
  margin-left: 19px;
}
.logo-and-content {
  display: flex;
  margin-top: -5px;
  /* justify-content: space-around; */
}

.content {
  color: #cccccc;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.location-icon-container {
  background: url("https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
    no-repeat -71px -379px;
  color: white;
  width: 15px;
  padding: 5px 5px;
  height: 17px;
  margin-right: 4px;
}

.navbar-1-container-middle {
  /* border: 1px solid white; */
  width: 70%;
  height: 80%;
  margin: auto;
  margin-left: 2rem;
  display: flex;
  border-radius: 4px;
  border: none;
  padding: 3px;
}

.search-text {
  width: 100%;
  margin: 0 auto;
  border: none;
  background-color: #f1f1f1;
  border: none;
  font-family: "Amazon Ember light";
  font-size: 14px;
}

/* 
.search-text:{
} */

.search-button {
  border: none;
  height: 100%;
  width: 7%;
  text-align: center;
  cursor: pointer;
  display: flex;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: #ffbf72;
  /* background-color: #F3A847; */
}

.search-button-icon {
  border: none;
  /* border-bottom-right-radius: 5px; */
  /* border-top-right-radius: 5px; */
  background: url(/assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png) -10px -290px;
  /* border: none; */
  width: 70%;
  height: 70%;
  margin-left: 5px;
  /* border-bottom-left-radius: 5px; */
}

.navbar-1-container-right {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 30%;
}

.item {
  display: flex;
  justify-content: center;
  margin-right: auto;
  border: burlywood 1px solid;
}

.item-1 {
  border: 1px solid transparent;
  padding: 4% 2%;
  height: 80%;
  width: 20%;
  display: flex;
  margin: auto;
}

.item-2 {
  display: flex;
  width: 20rem;
  height: 100%;
  padding: 5%;
}

.item-2 .content {
  width: 100%;
  height: 100%;
}

.item-4 {
  display: flex;
  background: url("/assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
    no-repeat -218px -337px;
  width: 20rem;
  height: 100%;
}

.item-4-logo-container {
  /* width: 100%; */
  /* height: 100%; */
}

.countries {
  background: url("/assets/images/rzrQQdi0aRm6Dap.png") no-repeat 0px -130px;
  width: 25px;
  height: 19px;
  margin-top: 2px;
  padding: 1%;
  margin-left: 15px;
  /* display: flex; */
  /* align-self: flex-end; */
  /* vertical-align: bottom; */
}

.navbar-1-container-right .item-2 {
  display: flex;
  padding: 7px;
}

.item h4 {
  font-weight: lighter;
}

.drop-down-arrow {
  background: url("/assets/images/rzrQQdi0aRm6Dap.png") no-repeat -82px -87px;
  width: 8px;
  height: 5px;
  /* width: 8px; */
  /* height: 5px; */
  display: flex;
  align-self: flex-end;
  margin-left: 2px;
  margin-bottom: 2px;
}
.content {
  display: flex;
  flex-direction: column;
}

.item-3 {
  line-height: 0.1rem;
  display: flex;
  flex-direction: column;
  width: 180px;
  justify-content: space-evenly;
  padding: 2%;
}

.navbar-2-container {
  display: flex;
  height: 2.25rem;
  background-color: #232f3e;
  justify-content: space-between;
  align-items: center;
}
.menu {
  border: orange 1px solid;
  display: flex;
  justify-content: space-around;
  margin: 0;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  height: 100%;
  /* width:60px; */
  /* text-align: center; */
  /* align-content: center; */
  /* padding: 7px 5px; */
}

.search-drop-down {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-right: 0.3px solid gray;
}

.all-1 {
  margin-left: 7px;
  margin-top: 2px;
  color: rgb(85, 85, 85);
  font-size: 12px;
  font-family: "Amazon Ember light";
  /* font-weight: 100; */
}

.all {
  display: flex;
  justify-content: center;
  /* margin-left: 15px;  */
  align-self: center;
  font-family: "Amazon Ember bold";
}
.menu-icon {
  margin: auto -15px;
  /* vertical-align: middle; */
  background: url("/assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
    no-repeat -172px -255px;
  /* width: 18px; */
  /* margin-left: 0; */
  /* height: 100%; */
}

.navbar-2-container li{
  display: flex;
  justify-content: center;
  align-content: center;
  /* margin-top: 2px; */
  /* justify-content: center; */
  /* text-align: center; */
  /* vertical-align: middle; */
}
.navbar-2-container li a {
  font-family: "Amazon Ember light";
  font-weight: bold;
  font-size: 13px;
  display: flex;
  font-style: normal;
  justify-content: center;
  align-self: center;
  vertical-align: middle;
  /* margin-top: 1px; */
  /* border: 2px solid goldenrod; */
  padding: 4px;
  font-size: 12px;
}

.navbar-2-container-left {
  border: 2px solid green;
  display: flex;
  justify-content: center;
  height: 2.25rem;
  margin-left: 5px;
}

.navbar-2-container-left li a {
  margin-left: 15px;
  padding: 7px 5px;
}

.navbar-2-container-right {
  font-family: "Amazon Ember bold";
  font-weight: bold;
  margin-right: 15px;
  /* padding: 8px 5px; */
}
.navbar-2-container-right li a {
  font-family: "Amazon Ember bold";
  font-size: 13px;
}

.navbar-3-container {
  width: 36rem;
  height: 2.425rem;
  margin: -2.48rem auto;
  background: url("https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/November/BlackFridayILM/Fuji_BF_ILM_1X._CB652848759_.jpg")
    no-repeat center center/cover;
}

.navbar-3-container {
}

.navbar-4 {
  display: flex;
  /* flex-direction: column; */
  /* justify-content:center; */
  border: 1px solid black;
  align-content: center;
  /* height: 20px; */
  margin-top: 2.4rem;
}

.navbar-4-ul {
  display: flex;
  padding: 1%;
}

.navbar-4-ul li {
  font-size: 10px;
  font-weight: 600;
  color: #3f3f3f;
}

.main-page-container {
  display: flex;
  justify-content: space-between;
  margin-top: -4.3rem;
  /* height: 71.5vh; */
  height: 100vh;
  border: 2px solid red;
}

.left-section {
  width: 10%;
  /* margin: auto; */
  /* display: flex;/ */
  /* justify-content: flex-start;  */
}

.side-images {
  display: flex;
  margin: 30px 17px;
  padding: 2%;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.side-images img:hover {
  box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
  border: 0.1px solid orange;
}

.side-images img {
  border: 0.2px solid lightgray;
  display: flex;
  /* padding: 5%; */
  /* align-content: space-between; */
  margin-bottom: 6px;
}
.middle-section {
  border: 0.2px solid blueviolet;
  display: flex;
  justify-content: space-around;
  font-family: "Amazon Ember light";
  font-size: 14px;
  width: 100%;
  /* margin-top: 10px; */
}

.game-box-container {
  background: url("https://m.media-amazon.com/images/I/71bqboqDUiL._SX385_.jpg")
    no-repeat center center;
    /* background: url("https://images-na.ssl-images-amazon.com/images/I/51-ws-E4DfL._SY430_SX215_QL70_FMwebp_.jpg")no-repeat center center/cover; */
  /* border: 1px solid pink; */
  width: 100%;
  /* transform: perspective(#131921); */
  z-index: -2;
  height: 100%;
  margin-top: -63px;
  margin-left: -6rem;
  /* padding: 5%; */
  transform: scale(0.95);
  display: flex;
  /* justify-content: flex-start; */
}

.middle-section-text-container {
  width: 100%;
  margin-top:-0.5rem;
  margin-left: -4rem;
  letter-spacing: 0.03rem;
  line-height: 1.8rem;
  padding: 0.6%;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-content: flex-end; */
  width: 28%;
  /* margin: auto; */
  margin-top: 3rem;
  border: 2px solid green;
}

.share-icons {
  font-size: 13px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  /* border: blue 2px solid; */
  justify-content: center;
  /* align-content: center; */
  vertical-align: middle;
  align-content: center;
}

.share-icons h4:hover {
  text-decoration: underline;
  color: #c7511f;
}
.share-icons h4 {
  align-self: center;
  margin-right: 3px;
  /* text-decoration: underline; */
  /* color:#c7511f; */
}

.icons {
  display: flex;
  /* border: 1px solid green; */
  /* justify-content: space-between; */
  justify-content: space-around;
  /* justify-content: space-between; */
}
.icon {
  overflow: hidden;
  margin: 0 7px;
}

.icon-1 {
  background: url("/assets/images/social-media.png") no-repeat -256px -221px;
  width: 19px;
  align-self: center;
  height: 15px;
  overflow: hidden;
}

.icon-2 {
  background: url("/assets/images/social-media.png");
  width: 17px;
  height: 17px;
  background-position: -237px -151px;
}

.icon-3 {
  background: url("/assets/images/social-media.png");
  width: 18px;
  height: 17px;
  background-position: -193px -105px;
}

.icon-4 {
  background: url("/assets/images/social-media.png");
  width: 17px;
  height: 17px;
  background-position: -138px -14px;
}

.card {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  border: 1px solid red;
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 5%;
  /* align-items: center; */
}

.shipping {
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
  /* align-content: space-between; */
  border: 1px solid blue;
}
.card h3 {
  font-family: "Amazon Ember light";
  font-size: 12px;
}

.card .israel,
.card .date {
  font-family: "Amazon Ember bold";
  font-size: 12px;
}
.card-deliver-to {
  border: 1px solid green;
  display: flex;
  justify-content: space-around;
  align-content: center;
  /* text-align: center; */
}

.card-deliver-to h5 {
  font-size: 11px;
  font-family: "Amazon Ember light";
  border: 1px solid brown;
  height: 100%;
  display: flex;
}

.card-deliver-to-location-icon {
  border: 1px solid brown;
}

.quan {
  font-size: 10px;
}
.arrow-down {
  background: url("/assets/images/arrows.png");
  /* background-image: url(https://m.media-amazon.com/images/S/sash/McBZv0ZvnbehkIx.png); */
  -webkit-background-size: 400px 900px;
  background-size: 400px 900px;
  background-repeat: no-repeat;
}
