* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Amazon Ember bold";
  src: url("/assets/fonts/AmazonEmberDisplay_Bd.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Amazon Ember light";
  src: url("/assets/fonts/AmazonEmberDisplay_Lt.ttf");
  font-weight: 400;
}

.page-1 {
  height: 100vh;
  font-family: "Amazon Ember bold", Arial, Helvetica, sans-serif;
}

.header {
  height: 40vh;
}

li {
  font-family: "Amazon Ember light", Arial, sans-serif;
  text-decoration: none;
  list-style: none;
  color: white;
}
li a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: "Amazon Ember light", Arial, sans-serif;
}

li p{
  list-style: disc;
}
h3 {
  font-family: "Amazon Ember bold", Arial, sans-serif;
}
h4 {
  font-family: "Amazon Ember light", Arial, sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 55%;
  color: white;
  font-size: 11px;
}

.navbar-1-container {
  background-color: #131921;
  display: flex;
  height: 3.35rem;
  justify-content: space-between;
  align-content: center;
}

.navbar-1-container-left {
  width: 17%;
  display: flex;
  justify-content: space-between;
}

.amazon-logo-container {
  width: 86px;
  padding: 5% 2%;
  margin: 5px 7px;
  border: 1px solid transparent;
}

.amazon-logo {
  background: url("/assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
    no-repeat -10px -90px;
  width: 76px;
  height: 23px;
}

.amazon-logo-container:hover,
.deliver-to-container:hover,
.item-1:hover {
  border: 1px solid white;
  cursor: pointer;
}

.deliver-to-container {
  width: 50%;
  margin: 5px 7px;
  color: white;
  font-size: 11px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3%;
}
.deliver-to-container .content {
  margin-left: 19px;
}

.logo-and-content {
  display: flex;
  margin-top: -5px;
}

.content {
  color: #cccccc;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.location-icon-container {
  background: url("https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
    no-repeat -71px -379px;
  color: white;
  width: 15px;
  padding: 5px 5px;
  height: 17px;
  margin-right: 4px;
}

.navbar-1-container-middle {
  width: 58%;
  height: 80%;
  margin: auto 0;
  /* margin-left: 2rem; */
  display: flex;
  align-self: center;
  border-radius: 4px;
  border: none;
  padding: 3px;
}

.search-text {
  width: 100%;
  margin: 0 auto;
  border: none;
  background-color: #f1f1f1;
  border: none;
  font-family: "Amazon Ember light";
  font-size: 14px;
}

.search-button {
  border: none;
  height: 100%;
  width: 7%;
  text-align: center;
  cursor: pointer;
  display: flex;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: #ffbf72;
}

.search-button-icon {
  border: none;
  background: url(/assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png) -10px -290px;
  width: 70%;
  height: 70%;
  transform: scale(0.86);
  /* vertical-align: middle; */
  margin-left: 5px;
}

.navbar-1-container-right {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 27%;
}

.item {
  /* display: flex; */
  /* justify-content: flex-start; */
  /* margin-right: auto; */
  /* padding:7px; */
}

.item-1 {
  border: 1px solid transparent;
  padding: 4% 3%;
  height: 80%;
  display: flex;
  margin: auto;

}

.item-2 {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width:55%;
  padding: 7px;
}

.item-2 .content h4{
color: white;
font-weight: 600;
display: flex;
}

.item-3{
  display: flex;
  justify-content: space-evenly;
}

.bold-white{
  font-weight: bolder;
}

.cart{
  display: flex;
  flex-direction: column;
  align-content: center;
  /* vertical-align: middle; */
  justify-content: center;
  width: 28%;
}

.item-4-logo-container {
  background: url("/assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
    no-repeat -218px -337px;
    display: flex;
    align-content: center;
    align-self:center;
    /* border:1px solid white; */
    position: relative;
    right:17px;
    width:90%;
    height: 70%;
    margin: auto 0;
    transform: scale(0.8);
  /* vertical-align: bottom; */
}
.number-of-items{
  position: absolute;
  top:4px;
  right:40px;
}
.content-4{
  /* display: flex; */
  /* align-content: center; */
}
.countries {
  background: url("/assets/images/rzrQQdi0aRm6Dap.png") no-repeat 0px -130px;
  width: 25px;
  height: 19px;
  transform: scale(0.9);
  margin-left: 15px;
  padding: 6px;
}

.navbar-1-container-right .item-2 {
  display: flex;
  padding: 7px;
}

.drop-down-arrow-1{
  background: url("/assets/images/rzrQQdi0aRm6Dap.png") no-repeat -82px -87px;
  width: 8px;
  height: 5px;
  display: flex;
  align-self: flex-end;
  margin-left: 2px;
  margin-bottom: 2px;
  position: relative;
  top:10px;
}
.drop-down-arrow{
  background: url("/assets/images/rzrQQdi0aRm6Dap.png") no-repeat -82px -87px;
  width: 8px;
  height: 5px;
  display: flex;
  align-self: flex-end;
  margin-left: 2px;
  margin-bottom: 2px;
  position: relative;
  right:17px;
}

.content {
  display: flex;
  flex-direction: column;
}

.item-3 {
  line-height: 0.1rem;
  display: flex;
  flex-direction: column;
  width: 180px;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 5px 7px;
  align-content: space-around;
}

.navbar-2-container {
  display: flex;
  height: 2.25rem;
  background-color: #232f3e;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  margin: -15px;
  height: 100%;
}

.search-drop-down {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-right: 0.3px solid gray;
}

.all-1 {
  margin-left: 7px;
  margin-top: 2px;
  color: rgb(85, 85, 85);
  font-size: 12px;
  font-family: "Amazon Ember light";
}

.all {
  display: flex;
  justify-content: space-around;
  align-self: center;
  font-family: "Amazon Ember bold";
}

.menu-icon {
  /* margin: auto -15px; */
  z-index: 3;
  width: 25px;
  transform: scale(0.9);
  background: url("/assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
    no-repeat -172px -255px;
}

.navbar-2-container li {
  display: flex;
  justify-content: center;
  align-content: center;
}

.navbar-2-container li{
  font-family: "Amazon Ember light";
  font-weight: bold;
  font-size: 13px;
  display: flex;
  font-style: normal;
  justify-content: center;
  align-self: center;
  vertical-align: middle;
  padding: 4px;
  font-size: 12px;
}
.navbar-2-container li a:hover{
  cursor: pointer;
  border:1px solid white;
}
.navbar-2-container-left {
  display: flex;
  justify-content: center;
  height: 2.25rem;
  margin-left: 5px;
}

.navbar-2-container-left li a {
  border:1px solid transparent;
  margin-left: 15px;
  padding: 7px 5px;
}

.navbar-2-container-right {
  font-family: "Amazon Ember bold";
  font-weight: bold;
  margin-right: 15px;
}

.navbar-2-container-right li a {
  border:1px solid transparent;
  font-family: "Amazon Ember bold";
  font-size: 13px;
  padding: 7px;
}

.navbar-3-container {
  width: 36rem;
  height: 2.425rem;
  margin: -2.48rem auto;
  background: url("https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/November/BlackFridayILM/Fuji_BF_ILM_1X._CB652848759_.jpg")
    no-repeat center center/cover;
}

.navbar-4 {
  display: flex;
  align-content: center;
  margin-top: 2.4rem;
}

.navbar-4-ul {
  display: flex;
  padding: 1%;
}

.navbar-4-ul li {
  font-size: 10px;
  font-weight: 600;
  color: #3f3f3f;
}

.navbar-4-ul li:hover{
  cursor: pointer;
  text-decoration: underline;
}

.main-page-container {
  display: flex;
  justify-content: space-between;
  margin-top: -4.3rem;
  height: 100%;
  position: relative;
}

.left-section {
  width: 10%;
  position: sticky;
}

.side-images {
  position: sticky;
  display: flex;
  margin: 30px 17px;
  padding: 2%;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.side-images img:hover {
  box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
  border: 0.1px solid orange;
  cursor: pointer;
}

.side-images img {
  border: 0.2px solid lightgray;
  display: flex;
  margin-bottom: 6px;
}

.middle-section {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  font-family: "Amazon Ember light";
  font-size: 14px;
  position: relative;
}

.game-box-container {
  background: url("https://m.media-amazon.com/images/I/71bqboqDUiL._SX385_.jpg")
    no-repeat center center;
  width: 100%;
  z-index: -2;
  /* height: 100%; */
  margin-top: -33rem;
  margin-left: -9.5rem;
  transform: scale(0.87);
  display: flex;
  /* align-self: flex-end; */
  align-content: flex-start;
  position: sticky;
}

.middle-section-text-container {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin-left: -7rem;
  line-height: 1.8rem;
  padding: 0.6%;
  font-size: 13px;
}

.middle-section-text-container h2{
  letter-spacing: 0.03rem;
}

.second-sec{
  line-height: 20px;
}

.visit{
  color:
  #007185;
  line-height: 20px;

}
.small-green-link-font{
  color: #007185;
  line-height: 20px;
  font-size: 13px;
  font-weight: 600;
}
  .small-green-link-font-1{
  color: #007185;
  font-family: "Amazon Ember light";
  line-height: 20px;
  font-size: 12px;
  font-weight: 600;
}
  .small-green-link-font-1-smaller{
  color:
  #007185;
  font-family: "Amazon Ember light";
  line-height: 20px;
  font-size: 11px;
  margin-left: 5px;
  font-weight: 600;
}
  
.visit:hover{
  text-decoration: underline;
  color: #c7511f;
  cursor: pointer;
}

.small-green-link-font-1-smaller:hover,.small-green-link-font:hover,.small-green-link-font-1:hover{
  color: #c7511f;
  cursor: pointer;
}

.platform {
  display: flex;
  justify-content: flex-start;
  line-height: 20px;
}

.big-black-bold-font{
  font-family: "Amazon Ember Bold";
  color:black;
  font-size: 13px;
}


.platform-text{
  position:absolute;
}
.arrow-down-icon-1 {
  background-image: url("/assets/images/arrows.png");
  margin: 5px 0 0 0.385em;
  width: 10px;
  height: 8px;
  background-position: -90px -5px;
  opacity: .6;
  display: flex;
  align-self: center;
  vertical-align:bottom;
}

.arrow-down-icon {
  position: absolute;
  background-image: url("/assets/images/arrows.png");
  margin: 5px 0 0 0.385em;
  vertical-align: text-top;
  width: 10px;
  height: 8px;
  align-self: flex-end;
  background-position: -90px -5px;
  opacity: .6;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

.stars-container {
  display: flex;
  margin-right: 10px;
}

.stars-icon {
  display: flex;
  align-self: center;
  background: url("/assets/images/stars.png") no-repeat -5px -369px;
  width: 79px;
  height: 15px;
}

.rating-number{
  margin-left: 20px;
}
.amazons-choice{
  display: flex;
}

.amazons-choice-icon{
  width:8rem;
  transform: scale(0.8);
  height:2rem;
  margin-left: -10px;
  background: url("/assets/images/amazons-choice.PNG")no-repeat center center/cover;
}

.sec-4, .sec-3{
  margin: 10px 0;
}

.game-info{
display: flex;
flex-direction: column;
line-height: 20px;
width: 100%;
}

.new-used{
  font-weight: 600;
}

.crossed{
  text-decoration: line-through;
}

.big-green-font{
  color:#007600;
  font-family: "Amazon Ember light";
  font-size: 16px;
  font-weight: 600;
  line-height: 35px;
}

.reg-font-grey{
  color: #565959;
  font-size: 12px;
  font-weight: 600;
}

.small-black-font{
  color: #0f1111;
  font-size: 10px;
} 

.link{}

.light-font-grey{
  color: #565959;
  font-family: "Amazon Ember light";
  font-size: 10px;
  font-weight: 600; 
}

.small-red-font{
  color:#B12704;
  font-size: 12px;
}

.medium-red-font{
  color:#B12704;
  font-size: 12px;
  font-family: "Amazon Ember light";
  font-weight: 600;
}

.medium-black-font{
  color: #0f1111;
  font-size: 12px;
  font-weight: 600;
}

.big-red-font{
  color:#B12704;
  font-size: 14px;
  font-family: "Amazon Ember light";
  font-weight: 600;
}

.reg-font-black{
  font-family: "Amazon Ember light";
  color:#0F1111;
  font-weight: 700;
  font-size: 12px;
}

.free-shipping{
  color:black;
}

.take-left{
  margin-left: -5px;
}
.underline-1{
  border-bottom: rgb(216, 215, 215) 0.4px solid;
  margin: 5px 5px 0 0;
}
.underline-2{
  border-bottom: rgb(216, 215, 215) 0.4px solid;
  margin: 13px 5px 0 0;
}
.underline-3{
  width: 100%;
  border-bottom: rgb(216, 215, 215) 0.4px solid;
  /* margin: 13px 5px 0 0; */
}

.buttons{
  width:41%;
  display: flex;
  justify-content: space-between;
}

.ps-5{
  text-align: start;
  border: 1px solid red;
  background-color: #ffdcae36 ;
  width: 112px;
  /* height: 40px; */
  padding: 10px;
  border-radius: 3%;
}

.ps-4{
  border-radius: 3%;
  text-align: start;
  padding: 10px;
  width: 112px;
}

.bigger-button{
  text-align: start;
  padding: 10px;
  line-height: 20px;
}

.dashed-border{
 border: 1px gray dashed; 
}

.grey-border{
  border: gray 1px solid;
}

.no-bullets li{
  list-style: none;
  text-decoration: none;
}

.game-box-container::after{
content: "";
position: absolute;

}

.ps4:hover {
  animation-name: background-color;
  animation-duration: 500ms;
  }

  @keyframes background-color {
      100% {
      background-color:#4065F3;
  }
}

.button2{}
.button3{}
.button4{}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  width: 28%;
  height: 100%;
}

.share-icons {
  width:70%;
  transform: scale(0.9);
  font-size: 13px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  /* border: blue 2px solid; */
  justify-content: center;
  /* align-content: center; */
  vertical-align: middle;
  align-content: center;
  align-self: center;
  margin-bottom: 3px;
}

.share-icons h4:hover {
  text-decoration: underline;
  color: #c7511f;
  cursor: pointer;
}
.share-icons h4 {
  align-self: center;
  margin-right: 3px;
  /* text-decoration: underline; */
  /* color:#c7511f; */
}

.icons {
  align-self: center;
  display: flex;
  /* border: 1px solid green; */
  /* justify-content: space-between; */
  justify-content: space-around;
  /* justify-content: space-between; */
}
.icon {
  overflow: hidden;
  margin: 0 5px;
}

.icon-1 {
  background: url("/assets/images/social-media.png") no-repeat -256px -221px;
  width: 19px;
  align-self: center;
  height: 15px;
  overflow: hidden;
}

.icon-2 {
  background: url("/assets/images/social-media.png");
  width: 17px;
  height: 17px;
  background-position: -237px -151px;
}

.icon-3 {
  background: url("/assets/images/social-media.png");
  width: 18px;
  height: 17px;
  background-position: -193px -105px;
}

.icon-4 {
  background: url("/assets/images/social-media.png");
  width: 17px;
  height: 17px;
  background-position: -138px -14px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 0.3px solid #adb4b4;
  border-radius: 10px;
  height: 60%;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 15px;
}

.shipping-and-delivry{
  display: flex;
  justify-content: space-between;
}
.shipping {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

.card h3 {
  font-family: "Amazon Ember light";
  font-size: 12px;
}

.card .israel,
.card .date {
  font-family: "Amazon Ember bold";
  font-size: 13px;
}

.card-deliver-to {
  display: flex;
  margin-top: 10px;
  padding: 10px 0;
  align-content: center;
}

.card-deliver-to h5 {
  font-size: 11px;
  font-family: "Amazon Ember light";
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.quan {
  margin-top: -5px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 70%);
  width:59px;
  font-family: "Amazon Ember light";
  font-size: 10px;
  font-weight: 600;
  border-radius: 7px;
  padding: 3px;
  border: 0.9px solid rgb(162, 166, 172);
}

.quan:hover{
  box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
  border: 0.9px solid rgb(162, 166, 172);
  background-color:rgba(184, 186, 189, 0.774);
  cursor: pointer;
}
.btn3:hover{
  box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
  border: 0.9px solid rgb(162, 166, 172);
  cursor: pointer;

}

.arrow-down {

}

.buttons-buy{
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  font-family: "Amazon Ember light";
  color: #0f1111;
}
.btn-container{
  position: relative;
}
.btn{
  font-size: 9px;
  font-weight: 500;
  padding: 5px;
  position: relative;
  float: right;
  right: 2px;
  color: #0f1111;
  border:none;
  border-radius: 12px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  background-color: #FFC720;
  text-decoration: none;
}

.btn1{
  margin: 5px;
  font-size: 11px;
  font-weight: 600;
  padding: 7px;
  border:none;
  border-radius: 12px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  background-color: #FFC720;
}
.btn2{
  margin: 5px;
  font-size: 11px;
  font-weight: 600;
  padding: 7px;
  border:none;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  border-radius: 12px;
  background-color: #FF8F35;
}

.btn1:hover{
  background-color: #fac012;
  cursor: pointer;
}

.btn2:hover{
  background-color: #ee8632;
  cursor: pointer;
}


.secure-sec{
  /* margin-top: 5px; */
  display: flex;
  /* justify-content: space-around; */
}
.secure-logo{
  width: 8px;
  transform: scale(0.6);
  /* height: 5px; */
}

.secure-text{
align-self: center;
margin-left: 20px;
}

.links-to-buy{
  display: flex;
  align-content: center;
  flex-direction: column;
}
.links-to-buy li{
  vertical-align: text-bottom;
}
.link{
margin-top: 6px;
}
.move-down{
  margin-top: 15px;
}
.btn3{
  /* padding: 10px; */
  width: 90%;
  margin: 12px auto;
  text-align: start;
  padding: 5px;
  /* border: 1px solid #565959; */
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
  border: 0.9px solid rgb(162, 166, 172);
  /* font-family: "Amazon Ember light"; */
}

.with-bullets{
  list-style: disc;
  list-style-position: inside;
}

.card-2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 0.3px solid #adb4b4;
  border-radius: 10px;
  margin: 0 auto;
  padding: 17px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
}

li p{
  display: inline;
}

.card-3{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  border: 0.3px solid #adb4b4;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  width: 80%;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
}

.box2{
  display: flex;
  flex-direction: column;
  padding: 3px;
  margin: 4%;
}

.box2::after{
  content: "Add to Cart";
  position: absolute;
  font-size: 9px;
  font-weight: 500;
  padding: 4px;
  right:32px;
  color: #0f1111;
  border:none;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  background-color: #FFC720;
  text-decoration: none;
  
}

.box2:hover::after{
  background-color:#ffc720b4 ;

}